<!DOCTYPE html>
<html>
<head>
    <title>商家管理</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("order:seller:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("order:seller:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("order:seller:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.name" placeholder="商户名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.description" placeholder="商户描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">配送时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.deliveryTime" placeholder="配送时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">评分</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.score" placeholder="评分"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">服务评分</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.serviceScore" placeholder="服务评分"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品评分</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.foodScore" placeholder="商品评分"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">高于周边商家百分比</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.rankRate" placeholder="高于周边商家百分比"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最低价格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.minPrice" placeholder="最低价格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">配送费</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.deliveryPrice" placeholder="配送费"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">评论数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.ratingCount" placeholder="评论数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">售卖数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.sellCount" placeholder="售卖数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.bulletin" placeholder="描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商家头像</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.avatar" placeholder="商家头像"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商家简介</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.infos" placeholder="商家简介"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">图片列表</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="seller.pics" placeholder="图片列表"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/order/seller.js?_${.now?long}"></script>
</body>
</html>